@(username: String)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main(Html("Care Guidelines"),"Current Care Guidelines",username){
	
	<p>This section allows you to have the most recent and up to date care guidelines and standards of care regarding your condition at your fingertips. The following lists of items are written by experts in the care of Duchenne Muscular Dystrophy and are the same guidelines that your physician should be acquainted with. Click the links to learn about the standards of care and be sure to share this information with physicians treating you in any setting.</p>

  <p><a href="#">The Multidisciplinary Management of Duchenne Muscular Dystrophy</a></p>
  <p><a href="#">Update On Management of Duchenne Muscular Dystrophy</a></p>
  <p><a href="#">Cardiovascular Health Supervision for Individuals Affected by Duchenne and Becker Muscular Dystrophy</a></p>
  <p><a href="#">Practice Parameter: Corticosteroid Treatment of Duchenne Dystrophy</a></p>
  <p><a href="#">Respiratory Care of the Patient with Duchenne Muscular Dystrophy</a></p>
  <p><a href="#">American College of Chest Physicians Consensus Statement on the Respiratory and Related Management of Patients With Duchenne Muscular Dystrophy Undergoing Anesthesia or Sedation</a></p>
  <p><a href="#">The Diagnosis and Management of Duchenne Muscular Dystrophy—A Guide for Families</a></p>


	
}